# Omni

## Omni has 3 types of files:
- WhatsApp
- Facebook Messenger
- Email

### WhatsApp

We just need to convert the datetime format and also remova all values "-"

In [25]:
import pandas as pd
import numpy as np

path=r"C:\Users\maste\Downloads\Omni\interaction_whatsapp_history.xlsx"
df=pd.read_excel(path)

col= ['session_id',
'From Name',
'agent_id',
'Agent Name',
'Type',
'message',
'Date Create']


df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)


columns_to_convert = ['Date Create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['Date Create']))
enddate = pd.Timestamp(max(df['Date Create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_wa_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

,session_id,From Name,agent_id,Agent Name,Type,message,Date Create
0,wa_66390d1d68504,gempil,1101,,IN,# Request From Bot,2024-05-07 00:02:21
1,wa_66390d1d68504,gempil,1101,,IN,# Close From Bot,2024-05-07 00:02:27
2,wa_66390d445c06e,P Info,7528,,IN,# Request From Bot,2024-05-07 00:03:00
3,wa_66390d445c06e,Christina,7528,,IN,# Close From Bot,2024-05-07 00:03:09
4,wa_66390cbec99c1,Sugandy,5183,,IN,# Request From Bot,2024-05-07 00:00:46
...,...,...,...,...,...,...,...
145201,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Terima kasih atas kesediaan menunggu. Kami tur...,2024-05-08 14:28:28
145202,wa_663b269a9135e,Rahmat,7614,,IN,terima kasih,2024-05-08 14:30:37
145203,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Dengan senang hati. Ada hal lain yang dapat ka...,2024-05-08 14:30:47
145204,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,Kami masih menunggu respons dari Sobat BRI.,2024-05-08 14:33:05
145205,wa_663b269a9135e,,7614,Maimunatul Khusna,OUT,"Sobat BRI Rahmat, semoga kedepannya tidak terj...",2024-05-08 14:36:09

### Facebook messenger

In [27]:
import pandas as pd

col = ['session_id',
'from',
'from_name',
'agent_id',
'action_type',
'message',
'date_create']

path=r"C:\Users\maste\Downloads\Omni\messenger history bri.xlsx"
df=pd.read_excel(path)
df.replace('NULL', np.nan, inplace=True)
df.replace('None', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)
df.fillna('', inplace=True)
df.replace("-", "", inplace=True)

columns_to_convert = ['date_create']
for column in columns_to_convert:
    df[column] = pd.to_datetime(df[column], format='%Y-%m-%d %H:%M:%S', errors='coerce')

    df[column] = df[column].apply(lambda x: '' if pd.isna(x) else x)
    
  
df.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')
startdate = pd.Timestamp(min(df['date_create']))
enddate = pd.Timestamp(max(df['date_create']))

formatted_startdate = startdate.strftime('%Y%m%d')
formatted_enddate = enddate.strftime('%Y%m%d')

filename = f"omni_messenger_{formatted_startdate}_{formatted_enddate}.csv"
df=df[col]
df = df[(df != 0).all(axis=1)]
df.to_csv(filename, index=False)
df

C:\Users\maste\AppData\Local\Temp\ipykernel_13300\1122932632.py:16: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('', inplace=True)

,session_id,from,from_name,agent_id,action_type,message,date_create
0,fm_66099558df0cc,ON4,Yusuf Rohhmadi,1101,OUT,Mohon maaf karena tidak ada respons dari Sobat...,2024-04-01 00:00:32
1,fm_660994841446f,ON4,Yusuf Rohhmadi,1101,OUT,Saya masih menunggu respons dari Sobat. Ada ha...,2024-04-01 00:01:06
2,fm_660994841446f,ON4,Yusuf Rohhmadi,1101,OUT,Semoga laporan yang dibuat lancar dan segera t...,2024-04-01 00:04:26
4,fm_660996eac3590,ON4,Yusuf Rohhmadi,1101,OUT,"Hai Sobat BRI Ahmad, terima kasih telah menggu...",2024-04-01 00:01:41
5,fm_660996eac3590,ON4,Yusuf Rohhmadi,1101,OUT,v,2024-04-01 00:04:13
...,...,...,...,...,...,...,...
212320,fm_66311dd225b38,ON4,Arif Rahmat Hidayat,5150,OUT,"Hai Sobat BRI BRI Wyn, terima kasih telah meng...",2024-04-30 23:55:07
212321,fm_66311dd225b38,ON4,Arif Rahmat Hidayat,5150,OUT,Saya masih menunggu respons dari Sobat BRI Wyn.,2024-04-30 23:59:04
212327,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,"Hai Sobat BRI Sepriyanto Nugroho, terima kasih...",2024-04-30 23:55:58
212328,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,Mohon maaf atas kendala Log In BRImo yang dial...,2024-04-30 23:56:19
212331,fm_66311dbc65734,ON4,Dwiyantoro Aji P,244,OUT,Bisa diinformasikan respons gagal yang tampil ...,2024-04-30 23:58:48

### Email