In [1]:
import csv

# Path to the CSV file
file_path = r"D:\bricare data 1.csv"

# List to store extracted data
extracted_data = []

try:
    # Open the file in read mode
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        # Create a reader object to parse the CSV
        reader = csv.reader(csvfile, delimiter=',', quotechar='"')
        
        # Iterate over each row in the CSV file
        for row in reader:
            # Assuming the data is located in a specific column, e.g., the first column
            if "TTB000043833962" in row[0]:
                extracted_data.append(row)  # Append the entire row if the ID is found

except Exception as e:
    print("An error occurred:", e)

# Print the extracted data
for data in extracted_data:
    print(data)

An error occurred: list index out of range
['\ufeffTTB000043833962', '8701', 'Blokir Kartu ATM karena kartu hilang', '2023-01-01 07:08:31.000', 'Phone', 'Maintenance', 'WATI SUSILAWATI', '436101009806534', '0.00', 'Closed', '2023-01-01 07:08:50.000', '2023-01-01 00:00:00.000', 'N/A', 'Blokir Kartu', '6013013389522694', 'LCC-CCTCALL', 'NULL', 'NULL', 'NULL', 'Novita Ayu Lestari', '085845602167', 'NULL', 'NULL', '20', 'SMG61072', '00196 -- KANWIL Semarang', 'Novita Ayu Lestari', 'Nasabah mengajukan pemblokiran kartu ATM BRI']

In [2]:
import re

# File path for the CSV file
file_path = r"D:\bricare data 1.csv"

# Regular expression patterns for the data points you listed
patterns = {
    "Ticket_ID": re.compile(r"TTB\d+"),
    "Call_Type_ID": re.compile(r"\b\d{4}\b"),
    "Call_Type": re.compile(r"Blokir Kartu ATM karena kartu hilang"),
    "Create_Date": re.compile(r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"),
    "gateway": re.compile(r"Phone"),
    "Maintenance": re.compile(r"Maintenance"),
    # Add more patterns as necessary
}

# Dictionary to store the results
results = {key: None for key in patterns}

# Read the file and search for patterns
try:
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
        for key, pattern in patterns.items():
            match = pattern.search(content)
            if match:
                results[key] = match.group()
except Exception as e:
    print(f"Failed to read or process the file: {str(e)}")

# Display the results
for key, value in results.items():
    print(f"{key}: {value}")

Ticket_ID: TTB000043833962
Call_Type_ID: 8701
Call_Type: Blokir Kartu ATM karena kartu hilang
Create_Date: 2023-01-01 07:08:31.000
Phone: Phone
Maintenance: Maintenance

In [8]:
col = [
        "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
        "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
        "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assgined_to", "attachment_done", 
        "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
        "submitter_login_id", "submitter_user_group", "user_login_name", "Details", "Jenis_Produk", 
        "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", 
        "TID", "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", 
        "Bank_BRI", "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", 
        "Hasil_Kunjungan", "Log_Name", "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", 
        "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", "Notify_By", "Organization", 
        "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", "Settlement_ID", 
        "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
        "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", 
        "Tgl_In_Progress", "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", 
        "UniqueID", "users", "Usergroup_ID"
    ]
file_path = r"D:\bricare data 1.csv"

len(col)

79

In [17]:
import pandas as pd
col = [
        "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
        "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
        "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assgined_to", "attachment_done", 
        "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
        "submitter_login_id", "submitter_user_group", "user_login_name", "Details", "Jenis_Produk", 
        "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", 
        "TID", "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", 
        "Bank_BRI", "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", 
        "Hasil_Kunjungan", "Log_Name", "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", 
        "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", "Notify_By", "Organization", 
        "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", "Settlement_ID", 
        "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
        "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", 
        "Tgl_In_Progress", "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", 
        "UniqueID", "users", "Usergroup_ID"
    ]
file_path = r"D:\bricare data 1.csv"
def process_csv_with_complex_column(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        # Read the entire file content into a single string to process it line by line
        content = file.read()
        
        # Split the content into rows based on a pattern that indicates the end of a complex entry
        rows = content.split('================')  # This splits each "block" that should end up in Column 28
        data = []

        for row in rows:
            # Split each row by commas up to Column 27, handle Column 28 separately, then continue after Column 28
            parts = row.split(',')
            if len(parts) > 29:  # Ensuring there are enough parts to form all columns
                # The first 27 columns + the entire block of text that goes into Column 28
                first_part = parts[:27]
                col28 = ','.join(parts[27:-51])  # Joining parts that form the complex Column 28 (adjust range as needed)
                last_part = parts[-51:]  # Remaining columns after Column 28
                
                # Combine all parts into a single row, ensuring 79 columns total
                full_row = first_part + [col28] + last_part
                if len(full_row) == 79:
                    data.append(full_row)

    # Create a DataFrame from the processed data
    return pd.DataFrame(data, columns=col)

# Path to the CSV file
csv_file_path_v2 = file_path

# Process the CSV and get the structured DataFrame
structured_df_v4 = process_csv_with_complex_column(csv_file_path_v2)

# Display a sample of the structured data
structured_df_v4_sample = structured_df_v4.head(10) if not structured_df_v4.empty else "No data processed correctly."
df2=structured_df_v4_sample.transpose()
pd.set_option('display.max_columns', None)
df2.to_csv("data_new")

In [25]:
import pandas as pd
import csv


file_path = r"D:\bricare data 1.csv"



def process_csv_with_defined_columns(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        # Initialize a list to store the processed rows
        data = []
        
        # Read the file line by line
        reader = csv.reader(file)
        for row in reader:
            # Extract the first 27 columns directly
            if len(row) < 79:
                # Append empty fields if row is not long enough (handling potential errors in CSV formatting)
                row += [''] * (79 - len(row))
            
            # Columns 1-27 are directly taken from the row based on your mapping
            first_part = row[:27]
            
            # Column 28: Aggregating complex block data into one column (Example aggregation logic needed)
            complex_data = ' '.join(row[27:28])  # Assuming we collect multiple pieces into one column here
            
            # Remaining columns, from 29 to 79
            last_part = row[28:]

            # Combine the parts into a full row ensuring it matches the expected 79 columns format
            full_row = first_part + [complex_data] + last_part[:51]  # Adjust the slicing based on actual content need
            if len(full_row) == 79:
                data.append(full_row)
            else:
                # Padding in case there are missing columns to ensure each row has exactly 79 columns
                full_row += [''] * (79 - len(full_row))
                data.append(full_row)

    # Create a DataFrame from the processed data
    return pd.DataFrame(data, columns=[f"Column {i+1}" for i in range(79)])

# Path to the updated CSV file
updated_csv_file_path = r"D:\bricare data 1.csv"

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(updated_csv_file_path)



# Display a sample of the structured data
pd.set_option('display.max_columns', None)
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
# structured_df_final_sample['Column 1'] = structured_df_final_sample['Column 1'].apply(lambda x: x if x.startswith('TTB') and len(x) == 15 else None)
# structured_df_final_sample['Column 1'] = structured_df_final_sample.dropna(subset=['Column 1'])
structured_df_final_sample

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22,Column 23,Column 24,Column 25,Column 26,Column 27,Column 28,Column 29,Column 30,Column 31,Column 32,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42,Column 43,Column 44,Column 45,Column 46,Column 47,Column 48,Column 49,Column 50,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60,Column 61,Column 62,Column 63,Column 64,Column 65,Column 66,Column 67,Column 68,Column 69,Column 70,Column 71,Column 72,Column 73,Column 74,Column 75,Column 76,Column 77,Column 78,Column 79
0,﻿TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.00,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,N/A,Blokir Kartu,6013013389522694,LCC-CCTCALL,NULL,NULL,NULL,Novita Ayu Lestari,085845602167,NULL,NULL,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari,Nasabah mengajukan pemblokiran kartu ATM BRI,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Permintaan pemblokiran ATM BRI.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,Alasan pemblokiran : Hilang,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,Tanggal Hilang : 31.12.2022,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,Jam Hilang : 21.00,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,Lokasi Kejadian : bri cikunir,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,Tanggal Pemblokiran : 01/01/2023,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,Jam Pemblokiran : 07:06 wib,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,================,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

## 1st 27 Columns

In [45]:
import pandas as pd

# Define the file path for the CSV file
file_path = r"D:\bricare data 1.csv"
column_headers = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
    "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
    "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assigned_to", "attachment_done", 
    "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
    "submitter_login_id", "submitter_user_group", "user_login_name"
]

def process_csv_with_defined_columns(file_path):
    # Load the CSV file into a DataFrame, processing only the necessary columns (first 27 columns)
    df = pd.read_csv(file_path, usecols=range(27), header=None)

    df = df.iloc[:1]

    # Rename columns for clarity
    df.columns = [f"Column {i+1}" for i in range(27)]

    return df

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(file_path)

# Set display options for better output visibility
pd.set_option('display.max_columns', None)

# Display a sample of the structured data
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
structured_df_final_sample

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22,Column 23,Column 24,Column 25,Column 26,Column 27
0,TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.0,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,NaN,Blokir Kartu,6013013389522694,LCC-CCTCALL,NaN,NaN,NaN,Novita Ayu Lestari,8.584560e+10,NaN,NaN,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari

In [2]:
import pandas as pd

# Define the file path for the CSV file
file_path = r"D:\bricare data 1.csv"

# Specified column headers
column_headers = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
    "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
    "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assigned_to", "attachment_done", 
    "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
    "submitter_login_id", "submitter_user_group", "user_login_name"
]

def process_csv_with_defined_columns(file_path):
    # Load the CSV file into a DataFrame, processing only the necessary columns (first 27 columns)
    df = pd.read_csv(file_path, usecols=range(27), header=None)

    df = df.iloc[:1]

    # Rename columns using the specified column headers
    df.columns = column_headers

    return df

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(file_path)

# Set display options for better output visibility
pd.set_option('display.max_columns', None)

# Display a sample of the structured data
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
structured_df_final_sample

,Ticket_ID,Call_Type_ID,Call_Type,Create_Date,gateway,Jenis_Laporan,Nama_Nasabah,No_Rekening,Nominal,status,TanggalClosed,tanggalTransaksi,Chanel,Fitur,Nomor_Kartu,user_group,assigned_to,attachment_done,email,full_name,no_telepon,approver_login,approver_name,SLAResolution,submitter_login_id,submitter_user_group,user_login_name
0,TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.0,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,NaN,Blokir Kartu,6013013389522694,LCC-CCTCALL,NaN,NaN,NaN,Novita Ayu Lestari,8.584560e+10,NaN,NaN,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari

In [6]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    # Splitting the text into a more manageable format
    # Assume we split at the first occurrence of '================'
    parts = text.split('================', 1)
    
    # Create the DataFrame
    # Column 1 will have 'Aku', Column 2 will have the rest of the text after '================'
    df = pd.DataFrame({
        "Column 1": ["Aku"],
        "Column 2": [parts[1].strip()]  # Using strip to remove leading/trailing whitespace
    })
    
    return df

# Replace 'path_to_your_file.txt' with the path to your text file
file_path = r"D:\test_bricare.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

In [14]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    # Splitting the text to extract the third column value
    # Assume 'Tabungan' or similar values are added after the final '================,' so we split there first
    parts = text.split('================,')
    third_column_value = parts[1].strip() if len(parts) > 1 else "Missing Value"
    
    # Now split the first part further to separate out the main content
    main_content_parts = parts[0].split('================', 1)
    
    # Create the DataFrame
    # Column 1 will have 'Aku', Column 2 will have the content after the first '================',
    # and Column 3 will have the value from the third column
    df = pd.DataFrame({
        "Column 1": ["Aku"],
        "Column 2": [main_content_parts[1].strip() if len(main_content_parts) > 1 else "Missing Content"],  # Handle missing content
        "Column 3": [third_column_value]
    })
    
    return df

# Replace 'path_to_your_file.txt' with the path to your text file
file_path = r"D:\test_bricare.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")




# search the ================, and set the value to be the value for the next column

## great for 3 values

In [46]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Find the beginning of the content after "Aku," to set up for Column 2
    first_column_value = "Aku"
    second_column_start = main_content.find("Aku,") + len("Aku,")
    second_column_value = main_content[second_column_start:].strip()  # Remove any leading/trailing whitespace
    
    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt" 
df = create_dataframe_from_file(file_path)

# df = df.drop(df.columns[0], axis=1)


df.to_csv("new_.csv")

## 3 Columns

In [83]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt"  
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

# Column 4 starting from Kode ..., Column 5= empty, Column 6 Tabungan1

In [65]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text using '================' as a separator
    parts = text.split('================')
    
    # Assume the first line contains the labels for the first three columns, which are static
    header_labels = parts[0].strip().split('\n')[0].split(',')
    if len(header_labels) < 3:
        return pd.DataFrame({"Error": ["Header format is not as expected. Check the first line for correct labels."]})

    # Extracting the main body for Column 4, which includes multiple '================' sections
    column4_content = '================'.join(parts[1:-1]).strip()

    # Extract the last part for Columns 5 and 6
    footer_labels = parts[-1].split(',')
    if len(footer_labels) < 2:
        return pd.DataFrame({"Error": ["Footer format is not as expected. Insufficient labels after the last '================'."]})

    # Trim and prepare the labels for the last two columns
    column5_label = footer_labels[0].strip()
    column6_label = footer_labels[1].strip()

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [header_labels[0].strip()],
        "Column 2": [header_labels[1].strip()],
        "Column 3": [header_labels[2].strip()],
        "Column 4": [column4_content],
        "Column 5": [column5_label],
        "Column 6": [column6_label]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new4_.csv")

In [60]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text using '================' as a separator to isolate the main content and footer
    parts = text.split('================')
    if len(parts) < 3:
        return pd.DataFrame({"Error": ["The text does not contain enough sections separated by '================'."]})

    # Extracting the main body for Column 4, assumed to be between the first and second '================'
    column4_content = '\n================\n'.join(parts[1:-1]).strip()

    # Extract the footer content right after the last '================'
    # Assuming the footer starts with Tabungan1, Tabungan2 right after the last '================'
    # footer_content = parts[-1].split(',')
    # if len(footer_content) < 2:
    #     return pd.DataFrame({"Error": ["Footer content is not formatted as expected. Ensure it follows the last '================'."]})

    footer_content=text.split('================,', 1)
    # The first header should contain main labels if structured as expected
    header_labels = parts[0].strip().split('\n')[0].split(',')
    if len(header_labels) < 3:
        return pd.DataFrame({"Error": ["Header labels are missing or incomplete."]})

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [header_labels[0].strip()],
        "Column 2": [header_labels[1].strip()],
        "Column 3": [header_labels[2].strip()],
        "Column 4": [column4_content],
        "Column 5": [footer_content[0].strip()]
        # "Column 5": [footer_content[0].strip()],
        # "Column 6": [footer_content[1].strip()]
    })

    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new5_.csv")

In [72]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"  
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

In [77]:
import pandas as pd

# Create a DataFrame with one column
df = pd.DataFrame({'Column1': ['Tab1, Tab2']})

# Split the single value in the column by comma (assuming there's only one comma)
split_values = df['Column1'].str.split(',', expand=True)

# Rename columns (optional)
split_values.columns = ['Column0', 'Column1']

# Update the DataFrame
df = split_values.copy()

# Print the modified DataFrame
print(df)

  Column0 Column1
0    Tab1    Tab2

## Please use this

In [8]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt"  
df = create_dataframe_from_file(file_path)
# df.to_csv("new_.csv")
df.to_csv("newbig_.csv")
df

  Column 1                                           Column 2  Column 3
0     Main  Nasabah mengajukan pemblokiran kartu ATM BRI\n...  Tabungan

In [9]:
import pandas as pd

# file_path=r"D:\dataquality\new_.csv"
file_path=r"D:\dataquality\newbig_.csv"
data = pd.read_csv(file_path)


column_2_expanded = data['Column 2'].str.split(',', expand=True)
column_3_expanded = data['Column 3'].str.split(',', expand=True)
if 'Unnamed: 0' in data.columns:
    data = data.drop('Unnamed: 0', axis=1)

# Naming the new columns
column_2_expanded.columns = [f'Column_2_{i+1}' for i in range(column_2_expanded.shape[1])]
column_3_expanded.columns = [f'Column_3_{i+1}' for i in range(column_3_expanded.shape[1])]

# Inserting these new columns before the original 'Column 2' and 'Column 3'
new_data = pd.concat([data.drop(['Column 2', 'Column 3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

new_data.to_csv("new_data.csv")

## BRICARE cleaner

In [17]:
import pandas as pd

def create_dataframe_from_file(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()

    first_column_value = main_content.split(',', 1)[0].strip()
    second_column_value = main_content.split(',', 1)[1].strip() if len(main_content.split(',', 1)) > 1 else "Content Missing"

    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    return df

file_path = r"D:\test.txt"  
df = create_dataframe_from_file(file_path)

column_2_expanded = df['Column 2'].str.split(',', expand=True)
column_3_expanded = df['Column 3'].str.split(',', expand=True)

column_2_expanded.columns = [f'Column_2_{i+1}' for i in range(column_2_expanded.shape[1])]
column_3_expanded.columns = [f'Column_3_{i+1}' for i in range(column_3_expanded.shape[1])]

new_data = pd.concat([df.drop(['Column 2', 'Column 3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

new_data.to_csv("test.csv")
print(new_data)

           Column 1 Column_2_1                            Column_2_2  \
0  ﻿TTB000043833962       8701  Blokir Kartu ATM karena kartu hilang

                Column_2_3 Column_2_4   Column_2_5       Column_2_6  \
0  2023-01-01 07:08:31.000      Phone  Maintenance  WATI SUSILAWATI

        Column_2_7 Column_2_8 Column_2_9  ... Column_3_42 Column_3_43  \
0  436101009806534       0.00     Closed  ...        NULL        NULL

  Column_3_44 Column_3_45 Column_3_46 Column_3_47 Column_3_48 Column_3_49  \
0        NULL        NULL        NULL        NULL       Notes        NULL

  Column_3_50      Column_3_51
0        Call  000000000000004

[1 rows x 79 columns]

# With Columns

In [16]:
import pandas as pd

def create_dataframe_from_file(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()

    first_column_value = main_content.split(',', 1)[0].strip()
    second_column_value = main_content.split(',', 1)[1].strip() if len(main_content.split(',', 1)) > 1 else "Content Missing"

    # Create a DataFrame with initial rough columns
    df = pd.DataFrame({
        "Initial_Column_1": [first_column_value],
        "Initial_Column_2": [second_column_value],
        "Initial_Column_3": [third_column_value]
    })
    return df

file_path = r"D:\test.txt"  
df = create_dataframe_from_file(file_path)

# Assuming 'Initial_Column_2' and 'Initial_Column_3' need to be expanded into multiple columns
column_2_expanded = df['Initial_Column_2'].str.split(',', expand=True)
column_3_expanded = df['Initial_Column_3'].str.split(',', expand=True)

# List of all column names
column_names = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", "Nama_Nasabah", 
    "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", "Chanel", "Fitur", "Nomor_Kartu", 
    "user_group", "assgined_to", "attachment_done", "email", "full_name", "no_telepon", "approver_login", 
    "approver_name", "SLAResolution", "submitter_login_id", "submitter_user_group", "user_login_name", "Details", 
    "Jenis_Produk", "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", "TID", 
    "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", "Bank_BRI", 
    "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", "Hasil_Kunjungan", "Log_Name", 
    "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", 
    "Notify_By", "Organization", "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", 
    "Settlement_ID", "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
    "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", "Tgl_In_Progress", 
    "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", "UniqueID", "users", "Usergroup_ID"
]

# Concatenate expanded columns with the original DataFrame, dropping the initial columns used for expansion
new_data = pd.concat([df.drop(['Initial_Column_2', 'Initial_Column_3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

# Ensure the total columns in DataFrame matches with the length of column_names
new_data.columns = column_names[:new_data.shape[1]]

new_data.to_csv("test.csv")
print(new_data)

          Ticket_ID Call_Type_ID                             Call_Type  \
0  ﻿TTB000043833962         8701  Blokir Kartu ATM karena kartu hilang

               Create_Date gateway Jenis_Laporan     Nama_Nasabah  \
0  2023-01-01 07:08:31.000   Phone   Maintenance  WATI SUSILAWATI

       No_Rekening Nominal  status  ... Tanggal_Settlement Tgl_Foward  \
0  436101009806534    0.00  Closed  ...               NULL       NULL

  Tgl_In_Progress Tgl_Returned Ticket_Referensi Tiket_Urgency Tipe_Remark  \
0            NULL         NULL             NULL          NULL       Notes

  UniqueID users     Usergroup_ID
0     NULL  Call  000000000000004

[1 rows x 79 columns]

In [19]:
import pandas as pd

def create_dataframe_from_file(file_path):
    dataframes = []  # List to hold all individual DataFrames
    with open(file_path, 'r', encoding='utf-8') as file:
        for line_number, line in enumerate(file, 1):  # Process each line individually
            try:
                main_content, third_column_value = line.split('================,', 1)
                third_column_value = third_column_value.strip()

                first_column_value = main_content.split(',', 1)[0].strip()
                second_column_value = main_content.split(',', 1)[1].strip() if len(main_content.split(',', 1)) > 1 else "Content Missing"

                df = pd.DataFrame({
                    "Column 1": [first_column_value],
                    "Column 2": [second_column_value],
                    "Column 3": [third_column_value]
                })
                dataframes.append(df)
            except ValueError as e:
                print(f"Warning: Line {line_number} formatted incorrectly and was skipped. Error: {str(e)}")

    # Concatenate all DataFrames into a single DataFrame
    combined_df = pd.concat(dataframes, ignore_index=True)
    return combined_df

file_path = r"D:\test_bricare2line.txt"  
df = create_dataframe_from_file(file_path)

column_2_expanded = df['Column 2'].str.split(',', expand=True)
column_3_expanded = df['Column 3'].str.split(',', expand=True)

column_2_expanded.columns = [f'Column_2_{i+1}' for i in range(column_2_expanded.shape[1])]
column_3_expanded.columns = [f'Column_3_{i+1}' for i in range(column_3_expanded.shape[1])]

new_data = pd.concat([df.drop(['Column 2', 'Column 3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

new_data.to_csv("test2.csv", index=False)
print(new_data)

Warning: Line 1 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 2 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 3 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 4 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 5 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 6 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 7 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 8 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 9 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 10 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 11 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 12 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 13 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 14 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 15 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 16 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 17 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 18 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 19 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 20 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 21 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 22 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 23 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 24 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 25 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 26 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 27 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 28 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 29 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 30 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 31 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 32 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)
Warning: Line 33 formatted incorrectly and was skipped. Error: not enough values to unpack (expected 2, got 1)

ValueError: No objects to concatenate

## Trial to get everything in order before the date

In [3]:
# please see my codes below, I have a list of column names "column_names" I want the output is dataframe and after date they would be the other columns


import re
import pandas as pd

column_names = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", "Nama_Nasabah", 
    "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", "Chanel", "Fitur", "Nomor_Kartu", 
    "user_group", "assgined_to", "attachment_done", "email", "full_name", "no_telepon", "approver_login", 
    "approver_name", "SLAResolution", "submitter_login_id", "submitter_user_group", "user_login_name", "Details", 
    "Jenis_Produk", "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", "TID", 
    "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", "Bank_BRI", 
    "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", "Hasil_Kunjungan", "Log_Name", 
    "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", 
    "Notify_By", "Organization", "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", 
    "Settlement_ID", "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
    "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", "Tgl_In_Progress", 
    "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", "UniqueID", "users", "Usergroup_ID"
]

def parse_file(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            # Strip newline characters and other surrounding whitespace
            line = line.strip()
            # Use regular expressions to find all components
            # Find the first column (TTB followed by 12 digits)
            first_col = re.search(r'TTB\d{12}', line).group(0)
            # Find the second column (4 digits)
            second_col = re.search(r',(\d{4}),', line).group(1)
            # Find the fourth column (date and time)
            fourth_col = re.search(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}', line).group(0)
            # Extract everything between second and fourth columns for third column
            start_index = line.index(second_col) + len(second_col) + 1
            end_index = line.index(fourth_col)
            third_col = line[start_index:end_index].strip(',')
            # Append the parsed columns to the data list
            data.append([first_col, second_col, third_col, fourth_col])
    return data

# Usage
file_path = r"D:\oneline.txt"
parsed_data = parse_file(file_path)

for line in parsed_data:
    print(line)

['TTB000026204697', '5100', 'Informasi Tagihan, Status Pembayaran, Sisa limit, Fee, Bunga, Late Charge Kartu Kredit', '2020-01-01 07:06:22.000']

In [1]:
import re
import pandas as pd

column_names = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", "Nama_Nasabah", 
    "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", "Chanel", "Fitur", "Nomor_Kartu", 
    "user_group", "assgined_to", "attachment_done", "email", "full_name", "no_telepon", "approver_login", 
    "approver_name", "SLAResolution", "submitter_login_id", "submitter_user_group", "user_login_name", 
    "Jenis_Produk", "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", "TID", 
    "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", "Bank_BRI", 
    "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", "Hasil_Kunjungan", "Log_Name", 
    "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", 
    "Notify_By", "Organization", "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", 
    "Settlement_ID", "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
    "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", "Tgl_In_Progress", 
    "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", "UniqueID", "users", "Usergroup_ID"
]

def parse_file(file_path):
    data = []
    with open(file_path, 'r') as file:
        for line in file:
            # Strip newline characters and other surrounding whitespace
            line = line.strip()
            # Use regular expressions to find all components
            # Find the first column (TTB followed by 12 digits)
            first_col = re.search(r'TTB\d{12}', line).group(0)
            # Find the second column (4 digits)
            second_col = re.search(r',(\d{4}),', line).group(1)
            # Find the fourth column (date and time)
            fourth_col = re.search(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}', line).group(0)
            # Extract everything between second and fourth columns for third column
            start_index = line.index(second_col) + len(second_col) + 1
            end_index = line.index(fourth_col)
            third_col = line[start_index:end_index].strip(',')
            # Split the rest of the line after the date for remaining columns
            remaining_columns = line[end_index + len(fourth_col):].split(',')
            # Append the parsed columns to the data list
            data.append([first_col, second_col, third_col, fourth_col] + remaining_columns)

#     # Create DataFrame from data list
#     df = pd.DataFrame(data, columns=column_names)
#     return df

# # Usage
# file_path = "D:\\oneline.txt"
# parsed_data_df = parse_file(file_path)
# print(parsed_data_df)

In [18]:
import pandas as pd
import re

def parse_file(file_path):
    # Initialize a list to hold the parsed data
    data = []
    date_pattern = re.compile(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}')

    with open(file_path, 'r') as file:
        for line in file:
            parts = line.strip().split(';')
            # Find the index of the first date (fourth column)
            date_index = next(i for i, part in enumerate(parts) if date_pattern.match(part))

            # Extract columns
            ticket_id = parts[0]  # First column
            call_type_id = parts[1]  # Second column
            description = ';'.join(parts[2:date_index])  # Third column, concatenating all parts up to the date
            create_date = parts[date_index]  # Fourth column, the first date found

            # Append the parsed columns and the rest of the data
            data.append([ticket_id, call_type_id, description, create_date] + parts[date_index + 1:])

    # Create DataFrame with generic column names
    df = pd.DataFrame(data)
    df.columns = [f"Column_{i+1}" for i in range(len(df.columns))]

    # Convert 'Column_4' to datetime
    df['Column_4'] = pd.to_datetime(df['Column_4'], errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')

    return df

# Usage
file_path = r"C:\Users\maste\Downloads\dila_1line.txt"
df = parse_file(file_path)

# Display the first few rows to verify
df

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,Column_10,Column_11,Column_12,Column_13,Column_14,Column_15,Column_16,Column_17,Column_18,Column_19,Column_20,Column_21,Column_22,Column_23,Column_24,Column_25,Column_26,Column_27,Column_28,Column_29,Column_30,Column_31,Column_32,Column_33,Column_34,Column_35,Column_36,Column_37,Column_38,Column_39,Column_40,Column_41,Column_42,Column_43,Column_44,Column_45,Column_46,Column_47,Column_48,Column_49,Column_50,Column_51,Column_52,Column_53,Column_54,Column_55,Column_56,Column_57,Column_58,Column_59,Column_60,Column_61,Column_62,Column_63,Column_64,Column_65,Column_66,Column_67,Column_68,Column_69,Column_70,Column_71,Column_72,Column_73,Column_74,Column_75,Column_76,Column_77,Column_78
0,TTB000043833952,8433,Pembayaran Tagihan Gagal;Saldo Berkurang;Kartu...,2023-01-01 07:00:19,Phone,Complain,Zaka Putra,"1,23457E+14",5350000.00,Closed,2023-01-03 14:49:51.000,2023-12-31 00:00:00.000,ATM BRI,Pembayaran,5221234567890120,LCC-ISSUER,NULL,NULL,NULL,Adelia Awanda Dania,081234567890,NULL,NULL,20,90148127,LCC-CCTCALL,Adelia Awanda Dania,Tabungan,bricare_admin,NULL,2023-01-03 14:49:51.000,NULL,Simpanan,Met,NULL,NULL,2023-01-02 00:00:00.000,NULL,NULL,NULL,BRI,NULL,NULL,NULL,No,NULL,NULL,BRICare Administrator,NULL,No,Dewi Kartika Sari,NULL,NULL,No,None,Bank BRI,Insert Ticket Berhasil,NULL,NULL,428,NULL,Yes,00229 -- Kas Kanpus,NULL,Gagal,KAS KANPUS,Kas Kanpus,4,NULL,NULL,2023-01-03 00:00:00.000,NULL,NULL,NULL,Notes,NULL,Call,1

## BRICARE Cleaner for 2023 excluding "Details" column

In [22]:
import pandas as pd
import re

# 78 Columns
column_names = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", "Nama_Nasabah", 
    "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", "Chanel", "Fitur", "Nomor_Kartu", 
    "user_group", "assgined_to", "attachment_done", "email", "full_name", "no_telepon", "approver_login", 
    "approver_name", "SLAResolution", "submitter_login_id", "submitter_user_group", "user_login_name", 
    "Jenis_Produk", "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", "TID", 
    "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", "Bank_BRI", 
    "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", "Hasil_Kunjungan", "Log_Name", 
    "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", 
    "Notify_By", "Organization", "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", 
    "Settlement_ID", "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
    "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", "Tgl_In_Progress", 
    "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", "UniqueID", "users", "Usergroup_ID"
]

def parse_file(file_path):
    # Initialize a list to hold the parsed data
    data = []
    date_pattern = re.compile(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}')

    with open(file_path, 'r', encoding='utf-8-sig') as file:
        for line in file:
            parts = line.strip().split(';')
            # Find the index of the first date (fourth column in your description)
            date_index = next(i for i, part in enumerate(parts) if date_pattern.match(part))

            # Extract columns
            ticket_id = parts[0] 
            call_type_id = parts[1]  
            description = ';'.join(parts[2:date_index])  # Third column, concatenating all parts up to the date
            create_date = parts[date_index]  # Fourth column, the first date found

      
            data.append([ticket_id, call_type_id, description, create_date] + parts[date_index + 1:])


    df = pd.DataFrame(data, columns=column_names)

    # Date
    df['Create_Date'] = pd.to_datetime(df['Create_Date'], errors='coerce', format='%Y-%m-%d %H:%M:%S.%f')

    return df


file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_1masking.txt"
df = parse_file(file_path)

# Picklist mapping
mapping_sets = [
    {'Yes': 'TRUE', 'No': 'FALSE'},
    {'Simpanan': 'Savings', 'Pinjaman': 'Loans'}
]
mapping = {}
for mapping_set in mapping_sets:
    mapping.update(mapping_set)

# Function to apply mapping
def apply_mapping(value):
    return mapping.get(value, value)

df = df.applymap(apply_mapping)
pd.set_option('display.max_columns', None)
# Display
# df=df.iloc[:1]
# df.iloc[:1].to_csv("oneline.csv",index=False)

C:\Users\maste\AppData\Local\Temp\ipykernel_5792\3146355793.py:65: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(apply_mapping)

## BRICARE Cleaner for 2023 with "Details" column

In [27]:
# The file details_2line.txt has been uploaded and we have viewed the contents.
# Now, we will process this file as per the user's request.
# The requirement is to find lines starting with "TTB", and keep only the content up to the third comma.

import pandas as pd

# Load the data from the text file
file_path = r"C:\Users\maste\Downloads\details_2line.txt"
with open(file_path, 'r') as file:
    lines = file.readlines()

# Filter lines that start with "TTB" and process them
processed_lines = []
for line in lines:
    if line.startswith('TTB'):
        # Split the line by comma and take up to the first three elements
        parts = line.split(',')
        if len(parts) >= 3:
            # Reconstruct the line with only the first three parts
            processed_line = ','.join(parts[:3])  # Join only the first three parts
            processed_lines.append(processed_line.strip())  # Strip to remove any newline characters

# Convert list to a DataFrame for easy handling
df = pd.DataFrame({'Processed Data': processed_lines})

# Saving the output to a new CSV file
output_path = r"C:\Users\maste\Downloads\details_2line"+"_output"+".txt"
df.to_csv(output_path, index=False)

df

                                      Processed Data
0  TTB000043833835,8701,Blokir Kartu ATM karena k...
1     TTB000043833951,8202,Informasi Product Banking

## Extract the Details Columns

In [98]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()

    # Collect entries that start with "TTB"
    entries = []
    current_entry = []

    for line in lines:
        if line.startswith('TTB'):
            if current_entry:  # if current_entry is not empty
                entries.append('\n'.join(current_entry))  # join all lines collected so far and add to entries
                current_entry = []  # reset for the next entry
            # Start collecting lines for the new entry, skip 'TTB' line and the first three comma-separated parts
            continue
        current_entry.append(line.strip())

    # Add the last collected entry if any
    if current_entry:
        entries.append('\n'.join(current_entry))

    return entries

# Path to your text file
file_path = r"C:\Users\maste\Downloads\details_3line.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Content'])

# Save the DataFrame to a CSV file
df_final.to_csv('exp_1.csv', index_label='Index')
df_final

                                             Content
0  Permintaan pemblokiran ATM BRI.\nAlasan pemblo...
1  \nDATA outlet BRILINK\nKode Outlet BRILink\t: ...
2  \nif ch call back ,layanan IB ,  pergantian ka...

## Extract Details Columns

In [101]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    # Collect entries that start with "TTB"
    entries = []
    current_entry = []

    for line in lines:
        if line.startswith('TTB'):
            if current_entry:  # if current_entry is not empty
                entries.append('\n'.join(current_entry))  # join all lines collected so far and add to entries
                current_entry = []  # reset for the next entry
            # Start collecting lines for the new entry, skip to part after the third comma
            parts = line.split(',', 3)
            if len(parts) > 3:
                current_entry.append(parts[3].strip())  # Start the entry with text after the third comma
            continue
        current_entry.append(line.strip())

    # Add the last collected entry if any
    if current_entry:
        entries.append('\n'.join(current_entry))

    return entries

# Path to your text file
file_path = r"C:\Users\maste\Downloads\details_2line.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Content'])

# Save the DataFrame to a CSV file
# df_final.to_csv('exp_3.csv', index_label='Index')
df.head()

         Ticket ID                                            Content
0             None  ﻿TTB000043833835,8701,Blokir Kartu ATM karena ...
1  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
2  TTB000043833734  #CALL TERPUTUS\n\nif ch call back ,layanan IB ...
3  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...
4  TTB000043833833  ch infokan melakukan registrasi brimo, namun m...

## Extract Details Column alongside with Tiket ID

In [86]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    # Collect entries that start with "TTB"
    entries = []
    current_entry = []
    current_ticket_id = None  # Variable to store the current Ticket ID

    for line in lines:
        if line.startswith('TTB'):
            if current_entry:  # If there's collected content, append it with the Ticket ID
                entries.append((current_ticket_id, '\n'.join(current_entry)))
                current_entry = []
            # Extract Ticket ID and the part after the third comma
            parts = line.split(',', 3)
            if len(parts) > 3:
                current_ticket_id = parts[0]  # Store the Ticket ID
                current_entry.append(parts[3].strip())  # Start collecting the entry content
            continue
        current_entry.append(line.strip())

    # Add the last collected entry if any
    if current_entry:
        entries.append((current_ticket_id, '\n'.join(current_entry)))

    return entries

# Path to your text file
file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_2_details.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Ticket ID', 'Content'])

# Save the DataFrame to a CSV file
# df_final.to_csv('exp_4.csv', index_label='Index')
df_final.head(5)
# df.to_csv('exp_4.csv', index_label='Index')

         Ticket ID                                            Content
0             None  ﻿TTB000043833835,8701,Blokir Kartu ATM karena ...
1  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
2  TTB000043833734  #CALL TERPUTUS\n\nif ch call back ,layanan IB ...
3  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...
4  TTB000043833833  ch infokan melakukan registrasi brimo, namun m...

In [89]:
import pandas as pd

def process_text_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()

    entries = []  # To store the entries along with their Ticket IDs
    current_entry = []  # To accumulate the lines for the current entry
    current_ticket_id = None  # To store the current Ticket ID
    entry_started = False  # Flag to indicate whether an entry has started

    for line in lines:
        if line.startswith('TTB'):
            if entry_started:
                # When a new TTB line is found and an entry has already started, store the previous entry
                entries.append((current_ticket_id, '\n'.join(current_entry)))
                current_entry = []  # Reset the current entry
            # Extract Ticket ID and the part after the third comma
            parts = line.split(',', 3)
            if len(parts) > 3:
                current_ticket_id = parts[0].strip()  # Extract and store the Ticket ID
                current_entry.append(parts[3].strip())  # Start collecting the entry content from after the third comma
                entry_started = True  # Set the flag as we have started processing an entry
        elif entry_started:
            # Only collect lines if we have started a valid entry
            current_entry.append(line.strip())

    # Add the last collected entry if any
    if entry_started and current_ticket_id is not None:
        entries.append((current_ticket_id, '\n'.join(current_entry)))

    return entries

# Path to your text file
file_path = r"C:\Users\maste\Downloads\bricare_case_januari2023_2_details.txt"
processed_data = process_text_data(file_path)

# Create a DataFrame from the processed data
df_final = pd.DataFrame(processed_data, columns=['Ticket ID', 'Content'])

# Save the DataFrame to a CSV file
# df_final.to_csv('your_output_path.csv', index_label='Index')
df_final.head(3)

         Ticket ID                                            Content
0  TTB000043833951  #BRILINKMOB\n\nDATA outlet BRILINK\nKode Outle...
1  TTB000043833734  #CALL TERPUTUS\n\nif ch call back ,layanan IB ...
2  TTB000043833965  Nasabah gagal melakukan transaksi tarik tunai ...

In [18]:
import pandas as pd


column_list = [
    "Ticket_ID",  
    "Call_Type_ID",  
    "Call_Type", 
    "Create_Date",  
    "gateway",  
    "Jenis_Laporan",  
    "Nama_Nasabah",  
    "No_Rekening", 
    "Nominal",  
    "status",  
    "TanggalClosed", 
    "tanggalTransaksi",  
    "Chanel",  
    "Fitur",  
    "Nomor_Kartu", 
    "user_group",  
    "assgined_to",  
    "attachment_done",  
    "email",  
    "full_name",  
    "no_telepon",  
    "approver_login",  
    "approver_name",  
    "SLAResolution",  
    "submitter_login_id",  
    "submitter_user_group", 
    "user_login_name"  
]

path=r"C:\Users\maste\Downloads\BRICARE_25042024 masking.csv"
df=pd.read_csv(path, delimiter=';')
# len(column_list)
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10,Column11,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21,Column22,Column23,Column24,Column25,Column26,Column27,Column28,Column29,Column30,Column31,Column32
0,TTB000026204763,8425,Pen-delete-an Status Registrasi Layanan yang A...,2020-01-01 07:19:37.000,Phone,Maintenance,Arif Budi Saputra,021234567890123,0.00,Closed,2020-01-01 07:19:43.000,NaN,UKO,e-channel,5221841189816746,LCC-CRC,NaN,NaN,NaN,Really Artha Ully Manik,081234567890,NaN,NaN,20,90136590,NaN,Really Artha Ully Manik,NaN,NaN,NaN,NaN,NaN
1,TTB000026204728,8405,Kartu ATM BRI Tertelan di MESIN ATM,2020-01-01 07:19:30.000,Phone,Information,Arif Budi Saputra,021234567890123,0.00,Closed,2020-01-01 07:17:02.000,2020-01-01 00:00:00.000,ATM BRI,Kartu tertelan,5221842126912762,LCC-CCTCALL,NaN,NaN,NaN,DELLA LARASSARI,081234567890,90022934,Adhi Nitidharma,20,90135196,NaN,DELLA LARASSARI,NaN,NaN,NaN,NaN,NaN
2,TTB000026204747,8202,Informasi Product Banking,2020-01-01 07:19:27.000,Phone,Information,Arif Budi Saputra,021234567890123,741700.00,Closed,2020-05-20 08:50:01.000,2020-01-01 00:00:00.000,NaN,NaN,5221842112540379,LCC-CCTCALL,90140806,NaN,NaN,Kartika Fitriani,081234567890,NaN,NaN,20,90141079,LCC-CCTCALL,Kartika Fitriani,NaN,NaN,NaN,NaN,NaN
3,TTB000026204712,3203,Permintaan Penutupan Kartu Kredit tanpa Anti A...,ada tagihan,2020-01-01 07:02:10.000,Phone,Maintenance,Arif Budi Saputra,NaN,0.00,Closed,2020-01-14 14:18:43.000,2020-01-01 00:00:00.000,NaN,Penutupan Kartu,5475820180657500,KKD-CRI-DATAM,90023344,NaN,NaN,Endang Siti Fitrianti,081234567890,NaN,NaN,15,90135181,NaN,Endang Siti Fitrianti,NaN,NaN,NaN,NaN
4,TTB000026204659,8812,Nasabah BRI gagal tarik tunai & terdebet di AT...,2020-01-01 07:00:34.000,Phone,Information,Arif Budi Saputra,021234567890123,1000000.00,Closed,2020-01-01 07:00:29.000,2020-01-01 00:00:00.000,ATM BRI,Tarik Tunai,6013011000558717,LCC-ON US,NaN,NaN,NaN,AMELIA RAHMADANI,081234567890,00000723,Ismail,10,60443,LCC-CCTCALL,AMELIA RAHMADANI,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375779,TTB000026713843,8411,Salah Transfer antar BRI,2020-01-31 17:28:34.000,Phone,Complain,MUTIAH,609401002283508,1950000.00,Closed,2023-03-01 18:01:47.000,2020-01-31 00:00:00.000,ATM BRI,Transfer,5221842102972780,00206 -- Jkt KCK,90110471,NaN,NaN,Umar Fahruddin Pratama,082136107896,NaN,NaN,20,90135689,NaN,Umar Fahruddin Pratama,NaN,NaN,NaN,NaN,NaN
375780,TTB000026714586,7700,Komplain Transaksi Kartu Kredit tidak di akui,2020-01-31 18:24:32.000,Phone,Complain,MULIYA HARDIYANTO,NaN,0.00,Closed,2023-03-08 10:08:40.000,NaN,NaN,Sanggahan,5188289230916308,ADMIN QSC,NaN,NaN,NaN,Cintia Fadila,05264513380,NaN,NaN,67,90123773,LCC-CCTCALL,Cintia Fadila,NaN,NaN,NaN,NaN,NaN
375781,TTB000026716286,1000,CERIA - Status Pengajuan,Aplikasi,Cara & Syarat,2020-01-31 20:35:27.000,Phone,Complain,dimas mahendra dharta,NaN,0.00,Closed,2023-03-13 10:20:57.000,NaN,NaN,NaN,3510112110920002,DCE,NaN,NaN,NaN,Afrizal Nur Triadi,0315961761,NaN,NaN,2,90139561,LCC-CCTCALL,Afrizal Nur Triadi,NaN,NaN,NaN
375782,TTB000026713292,8411,Salah Transfer antar BRI,2020-01-31 16:56:02.000,Phone,Complain,S I M O N,064201002986507,9650000.00,Closed,2022-10-13 16:08:20.000,2020-01-31 00:00:00.000,ATM BRI,Transfer,5326590001246103,00252 -- Jeneponto,90110471,0,NaN,Alfera Dyah Pangestu,081241313888,NaN,NaN,20,90138706,NaN,Alfera Dyah Pangestu,NaN,NaN,NaN,NaN,NaN
375783,TTB000026717333,8411,Salah Transfer antar BRI,2020-01-31 22:08:12.000,Phone,Complain,AGUS SUPRAPTO,601401026226534,2000000.00,Closed,2022-10-19 08:27:51.000,2020-01-31 00:00:00.000,ATM BRI,Transfer,6013010089430095,01271 -- KK KARANGREJO,90110471,NaN,NaN,MUHAMMAD ARHANDY KOES NANDA,081228501106,NaN,NaN,20,60477,LCC-CCTCALL,MUHAMMAD ARHANDY KOES NANDA,NaN,NaN,NaN,NaN,NaN

## Zendesk

In [52]:
import pandas as pd
import openpyxl 


pd.set_option('display.max_columns', None)
# path=r"C:\Users\maste\Downloads\Data Zendesk.csv"
path=r"C:\Users\maste\Downloads\RPA_Report_1_05072024_0802.xlsx"
df=pd.read_excel(path)


# Change the datetime format

date_columns= ['Requester created - Timestamp','Ticket created - Timestamp','Ticket solved - Timestamp']
for col in date_columns:
    df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d %H:%M:%S.%f')

# Remove the Ticket Column
df=df.drop('Tickets',axis=1)


# Save the file
# df.to_csv('Zendesk.csv')
# df['Ticket channel'].unique()
df
# Instagram Direct take out
# Any channel = Instagram

# remove all rows with Instagram Direct value

c:\Users\maste\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Ticket ID,Ticket channel,Assignee ID,Assignee name,Requester ID,Requester name,Ticket subject,Requester created - Timestamp,Ticket created - Timestamp,Ticket solved - Timestamp
0,3777302,Facebook,19918762073497,Agent Socmed 5,32077763614745,E Sae,bikin brimo yg kblokir bsa gk y?,2024-05-06 00:02:21.000000,2024-05-06 00:02:21.000000,2024-05-06 00:05:22.000000
1,3777303,Instagram Direct,405258199354,Contact BRI,32077722539801,Instagram Direct User 967125328443837,Conversation with Instagram Direct User 967125...,2024-05-06 00:02:28.000000,2024-05-06 00:02:29.000000,2024-05-06 06:19:32.000000
2,3777304,Any channel,19918762073497,Agent Socmed 5,32077755960985,nurul_alamin,[IGDM] Kk cara ganti no HP di aplikas... - @nu...,2024-05-06 00:02:29.000000,2024-05-06 00:02:29.000000,2024-05-06 05:43:13.000000
3,3777306,Twitter Direct Message,405258199354,Contact BRI,32077776751641,namaku,Conversation with namaku,2024-05-06 00:03:51.000000,2024-05-06 00:03:52.000000,2024-05-06 14:46:00.000000
4,3777309,Facebook,19918762073497,Agent Socmed 5,32077861374233,Tok Bagus,Menurut gw mirip ni 2 orang🗿,2024-05-06 00:07:13.000000,2024-05-06 00:07:13.000000,2024-05-06 00:07:39.000000
...,...,...,...,...,...,...,...,...,...,...
1181,3779914,Twitter,405257335633,Agent Sosmed 3,32118165205913,Hana Dwi,Brimo error gimana ya? Ga bisa ke buka https:/...,2024-05-07 04:54:12.000000,2024-05-07 04:54:20.000000,2024-05-07 04:56:37.000000
1182,3779935,Facebook,405303061074,Agent Sosmed 2,32118841105689,Ahmad Yani,Klw bisa saat mengambil atau memotong Uang di...,2024-05-07 05:41:57.000000,2024-05-07 05:41:57.000000,2024-05-07 05:51:30.000000
1183,3779940,Any channel,405303061074,Agent Sosmed 2,32119016699161,muhammadakbardurimalang,[IGDM] Selamat pagi - @muhammadakbardurimal...,2024-05-07 05:50:27.000000,2024-05-07 05:50:27.000000,2024-05-07 05:53:39.000000
1184,3779942,Twitter,405257335633,Agent Sosmed 3,32119084456601,Kang Timbul🇮🇩🇵🇸,@promo_BRI Kalau uang hilang bagaimana?,2024-05-07 05:54:21.000000,2024-05-07 05:54:21.000000,2024-05-07 05:57:39.000000
1185,3779948,Twitter,405303061074,Agent Sosmed 2,32119097263385,ruby,"Selamat pagi admin, saya mau bertanya.\nSaya i...",2024-05-07 05:59:07.000000,2024-05-07 05:59:17.000000,2024-05-07 06:00:08.000000