In [1]:
import csv

# Path to the CSV file
file_path = r"D:\bricare data 1.csv"

# List to store extracted data
extracted_data = []

try:
    # Open the file in read mode
    with open(file_path, newline='', encoding='utf-8') as csvfile:
        # Create a reader object to parse the CSV
        reader = csv.reader(csvfile, delimiter=',', quotechar='"')
        
        # Iterate over each row in the CSV file
        for row in reader:
            # Assuming the data is located in a specific column, e.g., the first column
            if "TTB000043833962" in row[0]:
                extracted_data.append(row)  # Append the entire row if the ID is found

except Exception as e:
    print("An error occurred:", e)

# Print the extracted data
for data in extracted_data:
    print(data)

An error occurred: list index out of range
['\ufeffTTB000043833962', '8701', 'Blokir Kartu ATM karena kartu hilang', '2023-01-01 07:08:31.000', 'Phone', 'Maintenance', 'WATI SUSILAWATI', '436101009806534', '0.00', 'Closed', '2023-01-01 07:08:50.000', '2023-01-01 00:00:00.000', 'N/A', 'Blokir Kartu', '6013013389522694', 'LCC-CCTCALL', 'NULL', 'NULL', 'NULL', 'Novita Ayu Lestari', '085845602167', 'NULL', 'NULL', '20', 'SMG61072', '00196 -- KANWIL Semarang', 'Novita Ayu Lestari', 'Nasabah mengajukan pemblokiran kartu ATM BRI']

In [2]:
import re

# File path for the CSV file
file_path = r"D:\bricare data 1.csv"

# Regular expression patterns for the data points you listed
patterns = {
    "Ticket_ID": re.compile(r"TTB\d+"),
    "Call_Type_ID": re.compile(r"\b\d{4}\b"),
    "Call_Type": re.compile(r"Blokir Kartu ATM karena kartu hilang"),
    "Create_Date": re.compile(r"\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3}"),
    "gateway": re.compile(r"Phone"),
    "Maintenance": re.compile(r"Maintenance"),
    # Add more patterns as necessary
}

# Dictionary to store the results
results = {key: None for key in patterns}

# Read the file and search for patterns
try:
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
        for key, pattern in patterns.items():
            match = pattern.search(content)
            if match:
                results[key] = match.group()
except Exception as e:
    print(f"Failed to read or process the file: {str(e)}")

# Display the results
for key, value in results.items():
    print(f"{key}: {value}")

Ticket_ID: TTB000043833962
Call_Type_ID: 8701
Call_Type: Blokir Kartu ATM karena kartu hilang
Create_Date: 2023-01-01 07:08:31.000
Phone: Phone
Maintenance: Maintenance

In [8]:
col = [
        "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
        "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
        "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assgined_to", "attachment_done", 
        "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
        "submitter_login_id", "submitter_user_group", "user_login_name", "Details", "Jenis_Produk", 
        "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", 
        "TID", "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", 
        "Bank_BRI", "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", 
        "Hasil_Kunjungan", "Log_Name", "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", 
        "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", "Notify_By", "Organization", 
        "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", "Settlement_ID", 
        "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
        "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", 
        "Tgl_In_Progress", "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", 
        "UniqueID", "users", "Usergroup_ID"
    ]
file_path = r"D:\bricare data 1.csv"

len(col)

79

In [17]:
import pandas as pd
col = [
        "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
        "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
        "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assgined_to", "attachment_done", 
        "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
        "submitter_login_id", "submitter_user_group", "user_login_name", "Details", "Jenis_Produk", 
        "Last_Modified_By", "Merchant_ID", "Modified_Date", "NOTAS", "Produk", "SLA_Status", 
        "TID", "tanggalAttachmentDone", "Tgl_Assigned", "Tgl_Eskalasi", "AnalisaSkils", "Attachment_", 
        "Bank_BRI", "Biaya_Admin", "Suku_Bunga", "Bunga", "Butuh_Attachment", "Cicilan", 
        "Hasil_Kunjungan", "Log_Name", "MMS_Ticket_Id", "Mass_Ticket_Upload_Flag", "Nama_Supervisor", 
        "Nama_TL", "Nama_Wakabag", "Nasabah_Prioritas", "Notify_By", "Organization", 
        "Output_Settlement", "phone_survey", "Return_Ticket", "Settlement_By", "Settlement_ID", 
        "Settlement", "Site_User", "Status_Return", "Status_Transaksi", "Submitter_Region", 
        "Submitter_SiteGroup", "Submitter_User_group_ID", "Tanggal_Settlement", "Tgl_Foward", 
        "Tgl_In_Progress", "Tgl_Returned", "Ticket_Referensi", "Tiket_Urgency", "Tipe_Remark", 
        "UniqueID", "users", "Usergroup_ID"
    ]
file_path = r"D:\bricare data 1.csv"
def process_csv_with_complex_column(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        # Read the entire file content into a single string to process it line by line
        content = file.read()
        
        # Split the content into rows based on a pattern that indicates the end of a complex entry
        rows = content.split('================')  # This splits each "block" that should end up in Column 28
        data = []

        for row in rows:
            # Split each row by commas up to Column 27, handle Column 28 separately, then continue after Column 28
            parts = row.split(',')
            if len(parts) > 29:  # Ensuring there are enough parts to form all columns
                # The first 27 columns + the entire block of text that goes into Column 28
                first_part = parts[:27]
                col28 = ','.join(parts[27:-51])  # Joining parts that form the complex Column 28 (adjust range as needed)
                last_part = parts[-51:]  # Remaining columns after Column 28
                
                # Combine all parts into a single row, ensuring 79 columns total
                full_row = first_part + [col28] + last_part
                if len(full_row) == 79:
                    data.append(full_row)

    # Create a DataFrame from the processed data
    return pd.DataFrame(data, columns=col)

# Path to the CSV file
csv_file_path_v2 = file_path

# Process the CSV and get the structured DataFrame
structured_df_v4 = process_csv_with_complex_column(csv_file_path_v2)

# Display a sample of the structured data
structured_df_v4_sample = structured_df_v4.head(10) if not structured_df_v4.empty else "No data processed correctly."
df2=structured_df_v4_sample.transpose()
pd.set_option('display.max_columns', None)
df2.to_csv("data_new")

In [25]:
import pandas as pd
import csv


file_path = r"D:\bricare data 1.csv"



def process_csv_with_defined_columns(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        # Initialize a list to store the processed rows
        data = []
        
        # Read the file line by line
        reader = csv.reader(file)
        for row in reader:
            # Extract the first 27 columns directly
            if len(row) < 79:
                # Append empty fields if row is not long enough (handling potential errors in CSV formatting)
                row += [''] * (79 - len(row))
            
            # Columns 1-27 are directly taken from the row based on your mapping
            first_part = row[:27]
            
            # Column 28: Aggregating complex block data into one column (Example aggregation logic needed)
            complex_data = ' '.join(row[27:28])  # Assuming we collect multiple pieces into one column here
            
            # Remaining columns, from 29 to 79
            last_part = row[28:]

            # Combine the parts into a full row ensuring it matches the expected 79 columns format
            full_row = first_part + [complex_data] + last_part[:51]  # Adjust the slicing based on actual content need
            if len(full_row) == 79:
                data.append(full_row)
            else:
                # Padding in case there are missing columns to ensure each row has exactly 79 columns
                full_row += [''] * (79 - len(full_row))
                data.append(full_row)

    # Create a DataFrame from the processed data
    return pd.DataFrame(data, columns=[f"Column {i+1}" for i in range(79)])

# Path to the updated CSV file
updated_csv_file_path = r"D:\bricare data 1.csv"

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(updated_csv_file_path)



# Display a sample of the structured data
pd.set_option('display.max_columns', None)
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
# structured_df_final_sample['Column 1'] = structured_df_final_sample['Column 1'].apply(lambda x: x if x.startswith('TTB') and len(x) == 15 else None)
# structured_df_final_sample['Column 1'] = structured_df_final_sample.dropna(subset=['Column 1'])
structured_df_final_sample

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22,Column 23,Column 24,Column 25,Column 26,Column 27,Column 28,Column 29,Column 30,Column 31,Column 32,Column 33,Column 34,Column 35,Column 36,Column 37,Column 38,Column 39,Column 40,Column 41,Column 42,Column 43,Column 44,Column 45,Column 46,Column 47,Column 48,Column 49,Column 50,Column 51,Column 52,Column 53,Column 54,Column 55,Column 56,Column 57,Column 58,Column 59,Column 60,Column 61,Column 62,Column 63,Column 64,Column 65,Column 66,Column 67,Column 68,Column 69,Column 70,Column 71,Column 72,Column 73,Column 74,Column 75,Column 76,Column 77,Column 78,Column 79
0,﻿TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.00,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,N/A,Blokir Kartu,6013013389522694,LCC-CCTCALL,NULL,NULL,NULL,Novita Ayu Lestari,085845602167,NULL,NULL,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari,Nasabah mengajukan pemblokiran kartu ATM BRI,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,Permintaan pemblokiran ATM BRI.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,Alasan pemblokiran : Hilang,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3,Tanggal Hilang : 31.12.2022,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4,Jam Hilang : 21.00,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
5,Lokasi Kejadian : bri cikunir,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,Tanggal Pemblokiran : 01/01/2023,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,Jam Pemblokiran : 07:06 wib,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,================,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

## 1st 27 Columns

In [45]:
import pandas as pd

# Define the file path for the CSV file
file_path = r"D:\bricare data 1.csv"
column_headers = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
    "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
    "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assigned_to", "attachment_done", 
    "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
    "submitter_login_id", "submitter_user_group", "user_login_name"
]

def process_csv_with_defined_columns(file_path):
    # Load the CSV file into a DataFrame, processing only the necessary columns (first 27 columns)
    df = pd.read_csv(file_path, usecols=range(27), header=None)

    df = df.iloc[:1]

    # Rename columns for clarity
    df.columns = [f"Column {i+1}" for i in range(27)]

    return df

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(file_path)

# Set display options for better output visibility
pd.set_option('display.max_columns', None)

# Display a sample of the structured data
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
structured_df_final_sample

,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6,Column 7,Column 8,Column 9,Column 10,Column 11,Column 12,Column 13,Column 14,Column 15,Column 16,Column 17,Column 18,Column 19,Column 20,Column 21,Column 22,Column 23,Column 24,Column 25,Column 26,Column 27
0,TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.0,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,NaN,Blokir Kartu,6013013389522694,LCC-CCTCALL,NaN,NaN,NaN,Novita Ayu Lestari,8.584560e+10,NaN,NaN,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari

In [2]:
import pandas as pd

# Define the file path for the CSV file
file_path = r"D:\bricare data 1.csv"

# Specified column headers
column_headers = [
    "Ticket_ID", "Call_Type_ID", "Call_Type", "Create_Date", "gateway", "Jenis_Laporan", 
    "Nama_Nasabah", "No_Rekening", "Nominal", "status", "TanggalClosed", "tanggalTransaksi", 
    "Chanel", "Fitur", "Nomor_Kartu", "user_group", "assigned_to", "attachment_done", 
    "email", "full_name", "no_telepon", "approver_login", "approver_name", "SLAResolution", 
    "submitter_login_id", "submitter_user_group", "user_login_name"
]

def process_csv_with_defined_columns(file_path):
    # Load the CSV file into a DataFrame, processing only the necessary columns (first 27 columns)
    df = pd.read_csv(file_path, usecols=range(27), header=None)

    df = df.iloc[:1]

    # Rename columns using the specified column headers
    df.columns = column_headers

    return df

# Process the CSV and get the structured DataFrame
structured_df_final = process_csv_with_defined_columns(file_path)

# Set display options for better output visibility
pd.set_option('display.max_columns', None)

# Display a sample of the structured data
structured_df_final_sample = structured_df_final.head(10) if not structured_df_final.empty else "No data processed correctly."
structured_df_final_sample

,Ticket_ID,Call_Type_ID,Call_Type,Create_Date,gateway,Jenis_Laporan,Nama_Nasabah,No_Rekening,Nominal,status,TanggalClosed,tanggalTransaksi,Chanel,Fitur,Nomor_Kartu,user_group,assigned_to,attachment_done,email,full_name,no_telepon,approver_login,approver_name,SLAResolution,submitter_login_id,submitter_user_group,user_login_name
0,TTB000043833962,8701,Blokir Kartu ATM karena kartu hilang,2023-01-01 07:08:31.000,Phone,Maintenance,WATI SUSILAWATI,436101009806534,0.0,Closed,2023-01-01 07:08:50.000,2023-01-01 00:00:00.000,NaN,Blokir Kartu,6013013389522694,LCC-CCTCALL,NaN,NaN,NaN,Novita Ayu Lestari,8.584560e+10,NaN,NaN,20,SMG61072,00196 -- KANWIL Semarang,Novita Ayu Lestari

In [6]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    # Splitting the text into a more manageable format
    # Assume we split at the first occurrence of '================'
    parts = text.split('================', 1)
    
    # Create the DataFrame
    # Column 1 will have 'Aku', Column 2 will have the rest of the text after '================'
    df = pd.DataFrame({
        "Column 1": ["Aku"],
        "Column 2": [parts[1].strip()]  # Using strip to remove leading/trailing whitespace
    })
    
    return df

# Replace 'path_to_your_file.txt' with the path to your text file
file_path = r"D:\test_bricare.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

In [14]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    # Splitting the text to extract the third column value
    # Assume 'Tabungan' or similar values are added after the final '================,' so we split there first
    parts = text.split('================,')
    third_column_value = parts[1].strip() if len(parts) > 1 else "Missing Value"
    
    # Now split the first part further to separate out the main content
    main_content_parts = parts[0].split('================', 1)
    
    # Create the DataFrame
    # Column 1 will have 'Aku', Column 2 will have the content after the first '================',
    # and Column 3 will have the value from the third column
    df = pd.DataFrame({
        "Column 1": ["Aku"],
        "Column 2": [main_content_parts[1].strip() if len(main_content_parts) > 1 else "Missing Content"],  # Handle missing content
        "Column 3": [third_column_value]
    })
    
    return df

# Replace 'path_to_your_file.txt' with the path to your text file
file_path = r"D:\test_bricare.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")




# search the ================, and set the value to be the value for the next column

## great for 3 values

In [46]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Find the beginning of the content after "Aku," to set up for Column 2
    first_column_value = "Aku"
    second_column_start = main_content.find("Aku,") + len("Aku,")
    second_column_value = main_content[second_column_start:].strip()  # Remove any leading/trailing whitespace
    
    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt" 
df = create_dataframe_from_file(file_path)

# df = df.drop(df.columns[0], axis=1)


df.to_csv("new_.csv")

## 3 Columns

In [83]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt"  
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

# Column 4 starting from Kode ..., Column 5= empty, Column 6 Tabungan1

In [65]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text using '================' as a separator
    parts = text.split('================')
    
    # Assume the first line contains the labels for the first three columns, which are static
    header_labels = parts[0].strip().split('\n')[0].split(',')
    if len(header_labels) < 3:
        return pd.DataFrame({"Error": ["Header format is not as expected. Check the first line for correct labels."]})

    # Extracting the main body for Column 4, which includes multiple '================' sections
    column4_content = '================'.join(parts[1:-1]).strip()

    # Extract the last part for Columns 5 and 6
    footer_labels = parts[-1].split(',')
    if len(footer_labels) < 2:
        return pd.DataFrame({"Error": ["Footer format is not as expected. Insufficient labels after the last '================'."]})

    # Trim and prepare the labels for the last two columns
    column5_label = footer_labels[0].strip()
    column6_label = footer_labels[1].strip()

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [header_labels[0].strip()],
        "Column 2": [header_labels[1].strip()],
        "Column 3": [header_labels[2].strip()],
        "Column 4": [column4_content],
        "Column 5": [column5_label],
        "Column 6": [column6_label]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new4_.csv")

In [60]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text using '================' as a separator to isolate the main content and footer
    parts = text.split('================')
    if len(parts) < 3:
        return pd.DataFrame({"Error": ["The text does not contain enough sections separated by '================'."]})

    # Extracting the main body for Column 4, assumed to be between the first and second '================'
    column4_content = '\n================\n'.join(parts[1:-1]).strip()

    # Extract the footer content right after the last '================'
    # Assuming the footer starts with Tabungan1, Tabungan2 right after the last '================'
    # footer_content = parts[-1].split(',')
    # if len(footer_content) < 2:
    #     return pd.DataFrame({"Error": ["Footer content is not formatted as expected. Ensure it follows the last '================'."]})

    footer_content=text.split('================,', 1)
    # The first header should contain main labels if structured as expected
    header_labels = parts[0].strip().split('\n')[0].split(',')
    if len(header_labels) < 3:
        return pd.DataFrame({"Error": ["Header labels are missing or incomplete."]})

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [header_labels[0].strip()],
        "Column 2": [header_labels[1].strip()],
        "Column 3": [header_labels[2].strip()],
        "Column 4": [column4_content],
        "Column 5": [footer_content[0].strip()]
        # "Column 5": [footer_content[0].strip()],
        # "Column 6": [footer_content[1].strip()]
    })

    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"
df = create_dataframe_from_file(file_path)
df.to_csv("new5_.csv")

In [72]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare2.txt"  
df = create_dataframe_from_file(file_path)
df.to_csv("new_.csv")

In [77]:
import pandas as pd

# Create a DataFrame with one column
df = pd.DataFrame({'Column1': ['Tab1, Tab2']})

# Split the single value in the column by comma (assuming there's only one comma)
split_values = df['Column1'].str.split(',', expand=True)

# Rename columns (optional)
split_values.columns = ['Column0', 'Column1']

# Update the DataFrame
df = split_values.copy()

# Print the modified DataFrame
print(df)

  Column0 Column1
0    Tab1    Tab2

## Please use this

In [8]:
import pandas as pd

def create_dataframe_from_file(file_path):
    # Open and read the file
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()

    # Split the text to separate out the third column value which is after '================,'
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()  # Clean up whitespace

    # Extract the first value dynamically before the first comma for Column 1
    first_column_value = main_content.split(',', 1)[0].strip()

    # Extract everything after the first comma for Column 2
    if len(main_content.split(',', 1)) > 1:
        second_column_value = main_content.split(',', 1)[1].strip()
    else:
        second_column_value = "Content Missing"

    # Create the DataFrame
    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    
    return df

# Provide the path to your text file
file_path = r"D:\test_bricare.txt"  
df = create_dataframe_from_file(file_path)
# df.to_csv("new_.csv")
df.to_csv("newbig_.csv")
df

  Column 1                                           Column 2  Column 3
0     Main  Nasabah mengajukan pemblokiran kartu ATM BRI\n...  Tabungan

In [9]:
import pandas as pd

# file_path=r"D:\dataquality\new_.csv"
file_path=r"D:\dataquality\newbig_.csv"
data = pd.read_csv(file_path)


column_2_expanded = data['Column 2'].str.split(',', expand=True)
column_3_expanded = data['Column 3'].str.split(',', expand=True)
if 'Unnamed: 0' in data.columns:
    data = data.drop('Unnamed: 0', axis=1)

# Naming the new columns
column_2_expanded.columns = [f'Column_2_{i+1}' for i in range(column_2_expanded.shape[1])]
column_3_expanded.columns = [f'Column_3_{i+1}' for i in range(column_3_expanded.shape[1])]

# Inserting these new columns before the original 'Column 2' and 'Column 3'
new_data = pd.concat([data.drop(['Column 2', 'Column 3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

new_data.to_csv("new_data.csv")

## BRICARE cleaner

In [10]:
import pandas as pd

def create_dataframe_from_file(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        text = file.read()
    
    main_content, third_column_value = text.split('================,', 1)
    third_column_value = third_column_value.strip()

    first_column_value = main_content.split(',', 1)[0].strip()
    second_column_value = main_content.split(',', 1)[1].strip() if len(main_content.split(',', 1)) > 1 else "Content Missing"

    df = pd.DataFrame({
        "Column 1": [first_column_value],
        "Column 2": [second_column_value],
        "Column 3": [third_column_value]
    })
    return df

file_path = r"D:\test_bricare.txt"  
df = create_dataframe_from_file(file_path)

column_2_expanded = df['Column 2'].str.split(',', expand=True)
column_3_expanded = df['Column 3'].str.split(',', expand=True)

column_2_expanded.columns = [f'Column_2_{i+1}' for i in range(column_2_expanded.shape[1])]
column_3_expanded.columns = [f'Column_3_{i+1}' for i in range(column_3_expanded.shape[1])]

new_data = pd.concat([df.drop(['Column 2', 'Column 3'], axis=1), column_2_expanded, column_3_expanded], axis=1)

new_data.to_csv("new_data.csv")
print(new_data)

  Column 1                                         Column_2_1 Column_3_1
0     Main  Nasabah mengajukan pemblokiran kartu ATM BRI\n...   Tabungan